body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:733px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:570px;
  top:390px;
  width:100px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:544px;
  top:200px;
  width:189px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:570px;
  top:450px;
  width:100px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
