body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:580px;
  top:20px;
  width:181px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:200px;
  top:80px;
  width:100px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:200px;
  top:140px;
  width:100px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:200px;
  top:220px;
  width:100px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:370px;
  top:80px;
  width:610px;
  height:570px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:570px;
}
#u9 {
  position:absolute;
  left:2px;
  top:277px;
  width:606px;
  visibility:hidden;
  word-wrap:break-word;
}
